# Home

## Inbox

```dataview
TABLE WITHOUT ID
	link(
		file.link,
		regexreplace(
			replace(regexreplace(file.name, "^\d+_", ""), "_", " "),
			"^.",
			upper(substring(replace(regexreplace(file.name, "\d+_", ""), "_", " "),0,1))
		)
	) AS "Inbox"
	,file.cday as "Created At"
FROM "{{dir_inbox}}"
WHERE file != this.file
SORT file.cday DESC
LIMIT 7
```

## Wiki

```dataview
TABLE WITHOUT ID
	link(
		file.link,
		regexreplace(
			replace(regexreplace(file.name, "^\d+_", ""), "_", " "),
			"^.",
			upper(substring(replace(regexreplace(file.name, "\d+_", ""), "_", " "),0,1))
		)
	) AS WikiCategory,
	file.outlinks AS SubCategory
FROM 
	"{{dir_wiki}}/culture.md"
	OR "{{dir_wiki}}/disciplines.md"
	OR "{{dir_wiki}}/events.md"
	OR "{{dir_wiki}}/people_and_orgs.md"
	OR "{{dir_wiki}}/places.md"
WHERE file != this.file
SORT file.name, file.outlinks
```
---

## Incubator

```dataview
TABLE WITHOUT ID
	link(
		file.link,
		regexreplace(
			replace(regexreplace(file.name, "^\d+_", ""), "_", " "),
			"^.",
			upper(substring(replace(regexreplace(file.name, "\d+_", ""), "_", " "),0,1))
		)
	) AS "Idea"
	,file.cday as "Created At"
FROM "{{dir_incubator}}"
WHERE file != this.file
SORT file.cday DESC
LIMIT 15
```

## Imported

```dataview
TABLE WITHOUT ID
	link(file.link, replace(regexreplace(file.name, "\d+_", ""), "_", " ")) AS "Imported"
	,file.cday as "Created At"
FROM "{{dir_import}}"
WHERE file != this.file
SORT file.cday
```

## Fun

```dataview
TABLE WITHOUT ID
	link(file.link, replace(regexreplace(file.name, "\d+_", ""), "_", " ")) AS "For Fun"
	,file.cday as "Created At"
FROM "{{dir_fun}}"
WHERE file != this.file
SORT file.cday
```

## Links

Links below are added only to create indexed links for the home page.

- [Orphan Notes]({{dir_meta}}/orhpan_notes.md),
- Wiki: [Culture]({{dir_wiki}}/culture.md), [Disciplines]({{dir_wiki}}/disciplines.md), [Events]({{dir_wiki}}/events.md), [People and Orgs]({{dir_wiki}}/people_and_orgs.md), [Places]({{dir_wiki}}/places.md)
