{
  "alwaysUpdateLinks": true,
  "newFileLocation": "folder",
  "useMarkdownLinks": true,
  "showUnsupportedFiles": true,
  "attachmentFolderPath": "{{dir_assets}}",
  "vimMode": false,
  "userIgnoreFilters": [
    "{{dir_import}}/",
    "{{dir_assets}}/",
    "{{dir_meta}}/",
    "{{dir_fun}}/"
  ],
  "showFrontmatter": true,
  "foldIndent": true,
  "showLineNumber": false,
  "autoPairBrackets": true,
  "showInlineTitle": false,
  "newFileFolderPath": "{{dir_inbox}}",
  "newLinkFormat": "relative",
  "propertiesInDocument": "hidden",
  "pdfExportSettings": {
    "pageSize": "Letter",
    "landscape": false,
    "margin": "2",
    "downscalePercent": 100
  },
  "autoPairMarkdown": true,
  "uriCallbacks": true
}